<!--@subject Lista degli aggiornamenti @-->

<div style="margin:1em; font-size:12px; line-height:16px;" lang="it">
	<p>Questo è il rapporto settimanale sui moduli da aggiornare.
	<br>Qui sotto la lista degli aggiornamenti disponibili.</p>

	{{depend list}}
		<ul style="margin:1.5em 0 1.7em; padding:0; list-style:none;">
			<li style="margin:0.8em 0 0.5em;">{{var list}}</li>
		</ul>
	{{/depend}}

	<p style="font-size:0.8em; line-height:1.35em; font-style:italic; color:#6F6F6F;">{{config path='design/head/default_title'}} - Lista degli aggiornamenti
	<br><a href="{{var config}}" rel="noindex,nofollow" style="color:#6F6F6F;">{{var config}}</a><!-- maillog - <a href="#online#" rel="noindex,nofollow" style="color:#6F6F6F;">vedere nel mio browser</a> #readimg# #mailid#cron# maillog --></p>
</div>