/**
 * Created S/31/05/2014
 * Updated J/26/05/2022
 *
 * Copyright 2012-2022 | Fabrice Creuzot (luigifab) <code~luigifab~fr>
 * https://www.luigifab.fr/openmage/modules
 *
 * This program is free software, you can redistribute it or modify
 * it under the terms of the GNU General Public License (GPL) as published
 * by the free software foundation, either version 2 of the license, or
 * (at your option) any later version.
 *
 * This program is distributed in the hope that it will be useful,
 * but without any warranty, without even the implied warranty of
 * merchantability or fitness for a particular purpose. See the
 * GNU General Public License (GPL) for more details.
 */

/* &&&&&&&&&&&&&&&&&&&&&&&&&&&&&& modules/index/index &&& */
body.adminhtml-modules-index-index h3.icon-head {
	min-height:19px; padding-left:22px;
	background:url("../../../images/fam_asterisk_orange.gif") no-repeat left center;
}

body.adminhtml-modules-index-index div.content-header-floating input { display:none; }
body.adminhtml-modules-index-index td.form-buttons input { width:45%; }

body.adminhtml-modules-index-index input::-ms-clear { display:none; }
body.adminhtml-modules-index-index input::-webkit-search-cancel-button { display:none; }

body.adminhtml-modules-index-index div.hor-scroll {
	padding-bottom:0; hyphens:auto; -moz-hyphens:auto; -ms-hyphens:auto; -webkit-hyphens:auto;
	background-size:100% 46px; background-position:bottom; background-image:linear-gradient(#FFF 50%, #F6F6F6 50%);
}

body.adminhtml-modules-index-index h4 { margin:1em 0 0.8em; }
body.adminhtml-modules-index-index table.actions { display:none; }
body.adminhtml-modules-index-index table.data tr.headings th { height:18px; padding:3px 4px; text-align:center; }
body.adminhtml-modules-index-index table.data tr.filter th { padding:0; height:32px; overflow:hidden; vertical-align:middle; }

body.adminhtml-modules-index-index table.data tr.filter input {
	display:block; margin:5px; width:calc(100% - 10px);
	box-sizing:border-box; -moz-box-sizing:border-box;
}

body.adminhtml-modules-index-index table.data tbody { background-color:transparent; }
body.adminhtml-modules-index-index table.data tbody td:hover div { display:block; }

body.adminhtml-modules-index-index table.data tbody td div {
	position:absolute; display:none; margin:0 -5px; padding:0 5px;
	border:1px solid #AAA; background-color:#DDD;
}

body.adminhtml-modules-index-index table.data tr.disabled,
body.adminhtml-modules-index-index table.data tr.disabled a { color:#999; }

body.adminhtml-modules-index-index table.data td {
	padding:0 4px; line-height:23px;
	border-top-width:0; border-bottom-width:0;
	background-size:100% 100%; background-position:bottom; background-image:linear-gradient(transparent calc(100% - 1px), #DADFE0 1px);
}

/* &&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&& statut &&& */
.modules-status {
	display:block; margin-top:3px; height:auto; line-height:16px; text-align:center;
	font-size:10px; font-weight:700; text-transform:uppercase; color:white; border-radius:10px;
}

.modules-status.grid-uptodate { background-color:#3CB861; }
.modules-status.grid-toupdate { background-color:#E41101; }
.modules-status.grid-beta     { background-color:#FF9C00; }
.modules-status.grid-unknown  { background-color:#8CD9A3; }
.modules-status.grid-enabled  { background-color:#3CB861; }
.modules-status.grid-disabled { background-color:#E41101; }

div.modules .modules-status.grid-disabled { background-color:#999; }
div.rewrites .modules-status.grid-disabled {
	animation:modulesBlink 1s step-start 0s infinite; -webkit-animation:modulesBlink 1s step-start 0s infinite;
}

@keyframes modulesBlink { 30% { color:transparent; } }
@-webkit-keyframes modulesBlink { 30% { color:transparent; } }