<!--@subject Liste des mises à jour@-->
<!--@vars {
"var list":"Liste des modules à mettre à jour",
"var config":"Adresse de configuration"
}@-->

<body style="margin:1em;">
	<p>Rapport hebdomadaire par rapport aux mises à jour des modules.
	<br />Voici ci-dessous la liste des mises à jour disponibles.</p>

	{{depend list}}
		<ul style="margin:1.5em 0 1.7em; padding:0; list-style:none;">
			<li style="margin:0.8em 0 0.5em;">{{var list}}</li>
		</ul>
	{{/depend}}

	<p style="font-size:0.8em; line-height:130%; font-style:italic; color:gray;">{{config path='design/head/default_title'}} - Liste des mises à jour
	<br /><a href="{{var config}}" style="color:gray;">{{var config}}</a></p>
</body>
